@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;700&display=swap" rel="stylesheet');
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Noto Serif Georgian", serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Noto Serif Georgian", serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

@media (max-width: 320px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1280) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991.98) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767.98) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  max-width: 100%;
  margin: 30px 40px 30px 40px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 30px;
    margin: 0px 30px 60px 30px;
  }
}

@media (max-width: 320px) {
  .header {
    margin: 0px 30px 60px 10px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 320px) {
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 535px) {
  .logo {
    position: fixed;
    z-index: 3;
    margin: 0px 0px 0px 0px;
  }
}

.logo__title {
  margin: 0px 0px 10px 0px;
}

.logo__title h1 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #545454;
  margin: 0px 0px 0px 4px;
}

.icon-menu {
  display: none;
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: fixed;
    top: 50px;
    right: 53px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 10px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: 20px;
    bottom: 0px;
  }
  .icon-menu.active span {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #F1CDB3;
  }
  .icon-menu.active span:nth-child(1) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 10px;
    left: 20px;
  }
  .icon-menu.active span:nth-child(2) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 10px;
    left: 10px;
  }
  .icon-menu.active span:nth-child(3) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 10px;
    left: 0px;
  }
}

@media (max-width: 320px) {
  .icon-menu {
    position: fixed;
    z-index: 5;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    content: '';
    width: 320px;
    height: 100%;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #292929;
    overflow: auto;
    z-index: 2;
  }
}

.menu__body.active {
  right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu__list li {
  margin: 0px 0px 0px 35px;
}

@media (max-width: 767px) {
  .menu__list {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 250px 0px 0px 0px;
  }
  .menu__list li {
    margin: 0px 0px 40px 20px;
  }
}

@media (max-width: 320px) {
  .menu__list li {
    margin: 0px 0px 40px 20px;
  }
}

.menu__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
}

@media (max-width: 767px) {
  .menu__link {
    font-size: 32px;
    line-height: 160%;
    font-weight: normal;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 0px 10px;
    margin: 0px 0px 40px 18px;
  }
}

.list__link {
  color: #545454;
}

.active-link {
  border-bottom: solid 3px #F1CDB3;
  color: #424141;
}

.active-link span:hover {
  border-bottom: none;
}

.wrapper__main {
  background: #FFFFFF;
  margin: 0 auto;
}

.content-section__batton {
  width: 207px;
  height: 52px;
  bottom: 0px;
  background: #F1CDB3;
  border-radius: 100px;
  margin: 42px 0px 0px 0px;
}

.content-section__batton span {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

@media (max-width: 1100px) {
  .content-section__batton {
    margin: 42px 0px 0px 20px;
  }
}

@media (max-width: 768px) {
  .content-section__batton {
    margin: 42px 0px 0px 126px;
  }
}

@media (max-width: 450px) {
  .content-section__batton {
    margin: 45px 0px 0px 0px;
  }
}

.content-section__batton:hover {
  background: #FDDCC4;
}

.frend {
  background: #F6F6F6;
}

.frend__container {
  padding: 80px 40px 100px 40px;
}

.frend__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frend__title {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.button__prev {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 52px;
  height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
}

.frend__sliders {
  margin: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frend__slider {
  margin: 0 auto;
  -webkit-column-count: 4;
  column-count: 4;
}

.frend__slider-card {
  margin: 0px 10px 20px 10px;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
}

.frend__slider-card:hover {
  background: #FFFFFF;
}

.slider__card-title {
  margin: 30px 0px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.button-slide {
  margin: 30px 13%;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
}

.button__next {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 52px;
  height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
}

.content__section-btn {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 998px) {
  .button__prev, .button__next {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 480px) {
  .frend__container {
    padding: 80px 10px 100px 10px;
  }
  .frend__slider, .frend__slider-card {
    margin: 0 auto;
  }
  .button__prev, .button__next {
    display: none;
  }
}

.footer {
  background: url("/img/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer__container {
  padding: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__question {
  margin-top: 16px;
  margin-right: 160px;
  width: 278px;
}

.qustion-title, .visit__title {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.question-mile, .question__phone {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__mile-link, .question__phone-link {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__visit {
  margin: 16px 0px 0px 0px;
  min-width: 320px;
}

.visit__place {
  margin: 34px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit__country {
  margin: 32px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit__adress {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

@media (max-width: 1100px) {
  .footer__question {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .footer__container {
    display: block;
    margin: 0 auto;
  }
  .footer__container-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 5px 0px 5px;
  }
  .footer__image {
    margin: 65px 0px 0px 0px;
    text-align: center;
  }
  .footer__visit {
    min-width: 280px;
  }
}

@media (max-width: 576px) {
  .footer__container-contact {
    display: block;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image__footer {
    width: 260px;
    height: 269px;
  }
  .footer__question, .footer__visit {
    margin: 0 auto;
  }
  .question__phone {
    margin: 40px 0px 40px 0px;
  }
  .visit__place, .visit__country {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #5c5c5cef;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 5px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  border-radius: 10px;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

/* for css
.popup:target {
	opacity: 1;
	visibility: visible;
}*/
.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__close {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 10px 0px;
}

.popup__text {
  font-size: 20px;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__content .popup__card {
  display: block;
}
